.DS_Store
node_modules/
/vue-view/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/vue-view/test/unit/coverage/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
.idea/SparkEven.iml
